@media screen and (max-width: 1200px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 17vh;
        padding: 0 20px;
    }
    
    .logo {
        margin-right: auto; /* Push logo to the far left */
        padding-right: 20px;
    }
    
    .hamburger-menu {
        margin-left: auto; /* Push hamburger menu to the far right */
        padding-left: 20px;
    }
    .landing_content {
        padding-inline: 50px;
    }
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        
        
    }
 
    .landing_container {
    background-size: cover;
  }
    .landing_content h1 {
       
        font-size: 50px;
    }

    .top_image, .bottom_image {
        height: 300px; 
    }

    .about_text {
        padding: 30px 10px; 
    }

    h1 {
        font-size: 24px; 
    }

    .contact_wrapper {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
       
    }
    .offer_footer {
        height: auto;
    }
}

@media screen and (min-width: 1200px) {
    #desktop-nav {
        display: flex;
    }
    #hamburger-nav {
        display: none;
    }

    
}