@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Work+Sans:wght@100;200&display=swap');

* {
    margin: 5px;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}
 
p {
    color: rgb(85, 85, 85);
}

/* Transition */

a,
.btn {
    transition: all 300ms ease;
}

/* Desktop Nav */

nav, 
.nav-links {
    display: flex;
}

nav {
    
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    
}

.nav-links {
     gap: 2rem;
     list-style: none;
     font-size: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
    text-decoration-color: black;
}

a:hover {
    color: hwb(24 0% 0%);
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;

    text-decoration-color: hwb(24 0% 0%);
}

.logo img {
    padding-top: 20px;
    width: 200px;
}
.logo:hover {
    cursor: default;
}

/* Hamburger Menu */

.hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
   
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: right;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

.landing_container{
    width: 100%;
    min-height: 100vh;
    background-image: url(/assets/pexels-joshua-mcknight-1139319\ \(1\).jpg);
    background-position: top;
    background-size: cover;
    overflow: hidden;
}

.landing_content {
    padding-inline: 100px;
}
.landing_content h1 {
    font-size: 70px;
    padding-top: 50px;
    pointer-events: none;
    color:hwb(24 0% 0%);
}

.landing_content p {
    padding-bottom: 50px;
    font-size: 20px;
    color: white;
    width: 300px;
    justify-content: center;
   

}

.landing_content button {
    border-radius: 20px;

}

.landing_content button a {
    color: white;

}
.landing_content button:hover {
    background-color: white;
    box-shadow: 0 0 2px #fcb65a;

}
.landing_content button:hover a {
    text-decoration: none;
    color: hwb(24 0% 0%);
    
}
.about_container{
    
    min-height: 100vh;
    background-color: #EFD2A7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;    
}

.about_container .about_text, .about_container .about_image {
    width: 50%;
   
}

.about_text h1 {
    font-size: 80px;
    color: hwb(24 0% 0%);
}

.about_text p {
    font-size: 14px;
    color: #461f05;
}

.about_image img {
    width: 100%;
    
}

.offer_container{
    padding-top: 50px;
    width: 100%;
    min-height: 100vh;
    background-color: #EFD2A7;
}

.offer_heading {
    font-size: 80px;
    /*color:hwb(24 0% 0%); */
    color: #CC5500
}

.offer_cards_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 50px 50px;
}

.offer_cards_container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color: white;
    
    box-shadow: 0 35px 80px rgb(138, 132, 132);
}

.offer_cards_container .card:hover {
    
}

.offer_cards_container .card .image_container {
    position: absolute;
    
    width: 300px;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
    
    
}

.offer_cards_container .card:hover .image_container {
 
    filter: brightness(-10px);
    
}
 .offer_cards_container .card .image_container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
 }

 .offer_cards_container .card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 30px;
    padding: 0 30px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
    color: white;
   

 }

 .offer_cards_container .card .content p {
    color: white;
 }



 .offer_cards_container .card:hover .content {
    top: 150px; 
    height: 200px;
    backdrop-filter: blur(2px);
    z-index: 1;
 }
.details_container {
     padding: 1.5rem;
     flex: 1;
     background-color: #EFD2A7;
     border-radius: 2rem;
     border: black 0.1 solid;
     border-color: orange;
     text-align: center;
}
.reviews_container{
    padding-top: 50px;
    width: 100%;
    min-height: 100vh;
    background-color: #EFD2A7;
}
.reviews_heading {
    font-size: 80px;
    color: hwb(24 0% 0%);
}
.reviews_wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;

}

.wrapper_left h1 {
    padding-top: 50px;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--primary-color);

}

.wrapper_left p {
    color: var(--text-dark);
    margin-bottom: 1rem;

}
.wrapper_left button {
    margin-top: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.wrapper_right {
    display: grid;
    gap: 2rem;
}

.review_card {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px black;
}

.review_card img {
    max-width: 75px;
    border-radius: 100%;
}

.review_content {
    display: flex;
    gap: 1rem;

}
.review_content span i {
    font-size: 2rem;
    color: #333;
}

.review_details p {
    font-style: italic;
    color: #333;
    margin-bottom: 1rem;
}

.review_details h3 {
    text-align: right;
    color: #f86c0e;
    font-size: 1rem;
    font-weight: 500;
}
.contact {
    text-align: center;
    
    
}
.contact_container {
    width: 100%;
    min-height: 100vh;
    background-color: #EFD2A7;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px;
}


.contact_container h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.contact_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact_form {
    text-align: left;
}

.contact_form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form_group {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #fcb65a;
    color: #333;
}
input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
button {
    display: inline-block;
    padding: 12px 24px;
    background-color: hwb(24 0% 0%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact_information {
    text-align: center;
}

.contact_information h3 {
    margin-bottom: 20px;
    color: rgb(116, 46, 14);
}

.contact_information p {
    margin-bottom: 20px;
}
.contact_subheading {
    font-size: 14px;
    color: rgb(116, 46, 14);

}



